body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRiSJMlLeFzZoSeQGOi5JVneNXy2QJM-c1V_InojHJYWF9TDZ9y');
    padding:0;
    margin:0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
html, body{
    height: 100%
}

.content{
    flex: 1 0 auto;
}

.header{
background-color: #ffffff;
border-bottom:3px solid #cccccc;
padding:10px;
height:50px;
clear:both;
}
.logo {
    position: absolute;
    top:0;
    left:15%;
    height:50px;
    padding:10px;
    background-color: #4aaaa5; 
    color: #ffffff;
    float: left;

    
}
ul{
    position:absolute;
    right:15%;
    list-style-type: none;
    overflow: auto;
    background-color: #ffffff;
    float: right;
}
li{
    border-right:1px solid #cccccc;
    padding: 10px;
    display: inline;
    padding-left: 16px;
    float: left;
}

li:last-child{
    border-right:none;
}
li a{
    display:block;
    color:#666666;
    text-align: center;
    text-decoration: none;
    padding: 14px 16 px;
}
.footer{
    height:50px;
    padding:10px;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    flex-shrink: 0;
}